<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_btn_addgm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,572},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_btn_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,762},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>hall_btn_create_rm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{456,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,151}}</string>
                <key>sourceSize</key>
                <string>{456,151}</string>
            </dict>
            <key>hall_btn_huod.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,842},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>hall_btn_join_rm.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{456,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,151}}</string>
                <key>sourceSize</key>
                <string>{456,151}</string>
            </dict>
            <key>hall_btn_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,762},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>hall_btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,466},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>hall_btn_qyq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{456,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,200}}</string>
                <key>sourceSize</key>
                <string>{456,200}</string>
            </dict>
            <key>hall_btn_qyq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,200}}</string>
                <key>sourceSize</key>
                <string>{456,200}</string>
            </dict>
            <key>hall_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,192},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>hall_btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,402},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>hall_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,338},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>hall_btn_sqdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,762},{173,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,172}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>hall_btn_yqyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,762},{173,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,172}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>hall_btn_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,762},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>hall_gi_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,572},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,572},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,572},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,572},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,572},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,725},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,535},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,749},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,559},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,382},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,382},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,382},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,382},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,762},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,762},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,382},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_21_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_21_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_21_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_23_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_24_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_25_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_26_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,762},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gi_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,345},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,749},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,559},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,155},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gi_fls.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,762},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_gibg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,345},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gibg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gibg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_gibg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,155},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>hall_img9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,762},{118,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,108}}</string>
                <key>sourceSize</key>
                <string>{118,108}</string>
            </dict>
            <key>hall_img9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,272},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>hall_img9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,762},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>hall_img_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,892},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hall_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,2},{4,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,90}}</string>
                <key>sourceSize</key>
                <string>{4,90}</string>
            </dict>
            <key>hall_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,535},{5,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,109}}</string>
                <key>sourceSize</key>
                <string>{5,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallAtlas0.png</string>
            <key>size</key>
            <string>{1902,939}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3a87c14b9ba642f8d1eb5118a4a8208$</string>
            <key>textureFileName</key>
            <string>hallAtlas0.png</string>
        </dict>
    </dict>
</plist>
