<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bs_0_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,208},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bs_0_gd.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,206},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,62}}</string>
                <key>sourceSize</key>
                <string>{38,62}</string>
            </dict>
            <key>bs_0_jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,43},{326,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,74}}</string>
                <key>sourceSize</key>
                <string>{326,74}</string>
            </dict>
            <key>bs_0_jjno.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{516,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,75}}</string>
                <key>sourceSize</key>
                <string>{516,75}</string>
            </dict>
            <key>bs_0_jpt.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,226},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,24}}</string>
                <key>sourceSize</key>
                <string>{99,24}</string>
            </dict>
            <key>bs_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{62,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,132}}</string>
                <key>sourceSize</key>
                <string>{62,132}</string>
            </dict>
            <key>bs_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,174},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>bs_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{61,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,550}}</string>
                <key>sourceSize</key>
                <string>{61,550}</string>
            </dict>
            <key>bs_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,174},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>bs_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,119},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>bs_9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,119},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>bs_9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,215},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>bs_a_pm.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,213},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>bs_a_xuanz.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,119},{227,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,85}}</string>
                <key>sourceSize</key>
                <string>{227,85}</string>
            </dict>
            <key>bs_bar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{630,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,34}}</string>
                <key>sourceSize</key>
                <string>{630,34}</string>
            </dict>
            <key>bs_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,252},{44,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,2}}</string>
                <key>sourceSize</key>
                <string>{44,2}</string>
            </dict>
            <key>bs_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{393,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,2}}</string>
                <key>sourceSize</key>
                <string>{393,2}</string>
            </dict>
            <key>bs_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,3}}</string>
                <key>sourceSize</key>
                <string>{722,3}</string>
            </dict>
            <key>bs_line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,252},{27,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,2}}</string>
                <key>sourceSize</key>
                <string>{27,2}</string>
            </dict>
            <key>bs_pm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,215},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>bs_pm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>bs_pm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>bs_txt_jbdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,187},{139,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,37}}</string>
                <key>sourceSize</key>
                <string>{139,37}</string>
            </dict>
            <key>bs_txt_ksks.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,187},{139,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,37}}</string>
                <key>sourceSize</key>
                <string>{139,37}</string>
            </dict>
            <key>bs_txt_lq.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,184},{66,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,29}}</string>
                <key>sourceSize</key>
                <string>{66,29}</string>
            </dict>
            <key>bs_txt_lxkf.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,226},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>bs_txt_mfbm.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,7},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>bs_txt_qr.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,206},{81,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,34}}</string>
                <key>sourceSize</key>
                <string>{81,34}</string>
            </dict>
            <key>bs_txt_ts.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,206},{85,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,34}}</string>
                <key>sourceSize</key>
                <string>{85,34}</string>
            </dict>
            <key>bs_txt_xxdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,183},{94,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,27}}</string>
                <key>sourceSize</key>
                <string>{94,27}</string>
            </dict>
            <key>bs_txt_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,226},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>bs_txt_zjjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,212},{92,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,27}}</string>
                <key>sourceSize</key>
                <string>{92,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bisaiAtlas.png</string>
            <key>size</key>
            <string>{884,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88269924addf3741bd6be0ec2296c834$</string>
            <key>textureFileName</key>
            <string>bisaiAtlas.png</string>
        </dict>
    </dict>
</plist>
