<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crtrm_arrow_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{117,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,107}}</string>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>crtrm_img9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,147}}</string>
                <key>sourceSize</key>
                <string>{358,147}</string>
            </dict>
            <key>crtrm_img9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,194},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,59}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>crtrm_img9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,111},{73,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,109}}</string>
                <key>sourceSize</key>
                <string>{73,109}</string>
            </dict>
            <key>crtrm_img9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,151},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>crtrm_line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,186},{87,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,5}}</string>
                <key>sourceSize</key>
                <string>{87,5}</string>
            </dict>
            <key>crtrm_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{66,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,3}}</string>
                <key>sourceSize</key>
                <string>{66,3}</string>
            </dict>
            <key>crtrm_tag_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,194},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>crtrm_tag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,194},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>crtrm_tag_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,194},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>crtrm_tag_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,194},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>crtrm_tag_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,192},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>crtrm_tag_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,192},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>crtrm_txt_bc.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,69},{127,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,64}}</string>
                <key>sourceSize</key>
                <string>{127,64}</string>
            </dict>
            <key>crtrm_txt_bc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{143,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,60}}</string>
                <key>sourceSize</key>
                <string>{143,60}</string>
            </dict>
            <key>crtrm_txt_bjck.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,135},{128,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,35}}</string>
                <key>sourceSize</key>
                <string>{128,35}</string>
            </dict>
            <key>crtrm_txt_cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{129,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,65}}</string>
                <key>sourceSize</key>
                <string>{129,65}</string>
            </dict>
            <key>crtrm_txt_scbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,151},{151,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,39}}</string>
                <key>sourceSize</key>
                <string>{151,39}</string>
            </dict>
            <key>crtrm_txt_xzjbtd.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,172},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>crtrm_txt_xzqj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{128,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,35}}</string>
                <key>sourceSize</key>
                <string>{128,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crtrmAtlas0.png</string>
            <key>size</key>
            <string>{642,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac78cf79949d6c47483306a69be8cd4c$</string>
            <key>textureFileName</key>
            <string>crtrmAtlas0.png</string>
        </dict>
    </dict>
</plist>
