<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d2_board0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,548},{69,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,20}}</string>
                <key>sourceSize</key>
                <string>{69,20}</string>
            </dict>
            <key>d2_btn_tipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,315},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>d2_img_3zhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,143},{116,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,106}}</string>
                <key>sourceSize</key>
                <string>{116,106}</string>
            </dict>
            <key>d2_img_chibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,342},{63,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,123}}</string>
                <key>sourceSize</key>
                <string>{63,123}</string>
            </dict>
            <key>d2_img_chiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,251},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>d2_img_cpline.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{535,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,1}}</string>
                <key>sourceSize</key>
                <string>{535,1}</string>
            </dict>
            <key>d2_img_duijia0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,310},{37,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,236}}</string>
                <key>sourceSize</key>
                <string>{37,236}</string>
            </dict>
            <key>d2_img_duijia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,143},{37,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,197}}</string>
                <key>sourceSize</key>
                <string>{37,197}</string>
            </dict>
            <key>d2_img_fendbg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,306}}</string>
                <key>sourceSize</key>
                <string>{234,306}</string>
            </dict>
            <key>d2_img_hdgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{289,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,140}}</string>
                <key>sourceSize</key>
                <string>{289,140}</string>
            </dict>
            <key>d2_img_headpart.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,65},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>d2_img_hpts.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{233,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,61}}</string>
                <key>sourceSize</key>
                <string>{233,61}</string>
            </dict>
            <key>d2_img_htcbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,467},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>d2_img_hutip.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{118,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,31}}</string>
                <key>sourceSize</key>
                <string>{118,31}</string>
            </dict>
            <key>d2_img_hutipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{307,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,168}}</string>
                <key>sourceSize</key>
                <string>{307,168}</string>
            </dict>
            <key>d2_img_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,724},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>d2_img_paidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,656},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>d2_img_paiku.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,729},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>d2_img_readed.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,240},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>d2_img_sbg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,380},{75,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,24}}</string>
                <key>sourceSize</key>
                <string>{75,24}</string>
            </dict>
            <key>d2_img_sbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,213},{65,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>d2_img_tangchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,319},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>d2_img_xjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,691},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>d2_img_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,372},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>d2_img_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,143},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>d2_imgfi_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,563},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>d2_imgtxt_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,409},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>d2_imgtxt_chipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,319},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>d2_imgtxt_cpts.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,310},{152,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,23}}</string>
                <key>sourceSize</key>
                <string>{152,23}</string>
            </dict>
            <key>d2_imgtxt_fhdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,122},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>d2_imgtxt_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,603},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>d2_imgtxt_gui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,662},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,603},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,662},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,603},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui5.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,678},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,582},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui7.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,561},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_hn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,598},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_1x.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,593},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,577},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,556},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,535},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,608},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,608},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,584},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,563},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,442},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,442},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_6x.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,442},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,449},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_7x.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,458},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,458},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_8x.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,458},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,542},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_9x.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,372},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,540},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht10.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,619},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht11.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,351},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht13.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,457},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht14.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,703},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht15.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,457},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht16.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,682},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht17.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,381},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht18.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,381},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,661},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht20.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,380},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht21.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,640},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht22.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,380},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht23.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,65},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht24.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,619},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht3.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,670},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,534},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht5.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,534},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,685},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht7.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,685},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht8.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,554},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht9.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,519},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,721},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>d2_imgtxt_hx.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,351},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>d2_imgtxt_sypd.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,464},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d2Atlas0.png</string>
            <key>size</key>
            <string>{509,761}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51775fee4be06634995149371e2e159f$</string>
            <key>textureFileName</key>
            <string>d2Atlas0.png</string>
        </dict>
    </dict>
</plist>
