<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{1,127},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,57}</string>
                <key>textureRect</key>
                <string>{{601,96},{59,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,45}</string>
                <key>spriteSourceSize</key>
                <string>{54,45}</string>
                <key>textureRect</key>
                <string>{{909,35},{54,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{829,1},{28,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{1,4},{36,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{634,48},{46,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,35}</string>
                <key>spriteSourceSize</key>
                <string>{63,35}</string>
                <key>textureRect</key>
                <string>{{44,5},{63,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,3}</string>
                <key>spriteSourceSize</key>
                <string>{64,3}</string>
                <key>textureRect</key>
                <string>{{122,1},{64,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{109,6},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{385,6},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{37,36}</string>
                <key>textureRect</key>
                <string>{{147,6},{37,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,44}</string>
                <key>spriteSourceSize</key>
                <string>{69,44}</string>
                <key>textureRect</key>
                <string>{{563,47},{69,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,44}</string>
                <key>spriteSourceSize</key>
                <string>{372,44}</string>
                <key>textureRect</key>
                <string>{{154,84},{372,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,136}</string>
                <key>spriteSourceSize</key>
                <string>{141,136}</string>
                <key>textureRect</key>
                <string>{{1,279},{141,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,58}</string>
                <key>spriteSourceSize</key>
                <string>{45,58}</string>
                <key>textureRect</key>
                <string>{{965,37},{45,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,45}</string>
                <key>spriteSourceSize</key>
                <string>{81,45}</string>
                <key>textureRect</key>
                <string>{{683,71},{81,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{186,6},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,56}</string>
                <key>spriteSourceSize</key>
                <string>{2,56}</string>
                <key>textureRect</key>
                <string>{{64,1},{2,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{224,6},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{714,1},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{965,1},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{931,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{437,130},{85,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{722,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,200}</string>
                <key>spriteSourceSize</key>
                <string>{90,200}</string>
                <key>textureRect</key>
                <string>{{807,252},{90,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,140}</string>
                <key>spriteSourceSize</key>
                <string>{196,140}</string>
                <key>textureRect</key>
                <string>{{144,304},{196,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{641,6},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{683,25},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{865,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{464,6},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,169}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{551,270},{123,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,112}</string>
                <key>spriteSourceSize</key>
                <string>{120,112}</string>
                <key>textureRect</key>
                <string>{{901,138},{120,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,144}</string>
                <key>spriteSourceSize</key>
                <string>{92,144}</string>
                <key>textureRect</key>
                <string>{{661,176},{92,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,141}</string>
                <key>spriteSourceSize</key>
                <string>{142,141}</string>
                <key>textureRect</key>
                <string>{{722,344},{142,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,135}</string>
                <key>spriteSourceSize</key>
                <string>{97,135}</string>
                <key>textureRect</key>
                <string>{{524,155},{97,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,41}</string>
                <key>spriteSourceSize</key>
                <string>{79,41}</string>
                <key>textureRect</key>
                <string>{{828,34},{79,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{424,6},{37,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{865,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,26}</string>
                <key>spriteSourceSize</key>
                <string>{51,26}</string>
                <key>textureRect</key>
                <string>{{776,1},{51,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{359,130},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_43_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,118}</string>
                <key>spriteSourceSize</key>
                <string>{119,118}</string>
                <key>textureRect</key>
                <string>{{430,254},{119,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{924,84},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,39}</string>
                <key>spriteSourceSize</key>
                <string>{43,39}</string>
                <key>textureRect</key>
                <string>{{596,6},{43,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,61}</string>
                <key>spriteSourceSize</key>
                <string>{74,61}</string>
                <key>textureRect</key>
                <string>{{283,130},{74,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,94}</string>
                <key>spriteSourceSize</key>
                <string>{152,94}</string>
                <key>textureRect</key>
                <string>{{276,208},{152,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{766,71},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{816,77},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,40}</string>
                <key>spriteSourceSize</key>
                <string>{101,40}</string>
                <key>textureRect</key>
                <string>{{725,29},{101,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,151}</string>
                <key>spriteSourceSize</key>
                <string>{53,151}</string>
                <key>textureRect</key>
                <string>{{662,121},{53,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_52_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,151}</string>
                <key>spriteSourceSize</key>
                <string>{41,151}</string>
                <key>textureRect</key>
                <string>{{1,84},{41,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{53,51}</string>
                <key>textureRect</key>
                <string>{{869,82},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{262,6},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,38}</string>
                <key>textureRect</key>
                <string>{{509,6},{42,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,36}</string>
                <key>spriteSourceSize</key>
                <string>{81,36}</string>
                <key>textureRect</key>
                <string>{{302,6},{81,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,38}</string>
                <key>spriteSourceSize</key>
                <string>{41,38}</string>
                <key>textureRect</key>
                <string>{{553,6},{41,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{897,1},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,53}</string>
                <key>spriteSourceSize</key>
                <string>{71,53}</string>
                <key>textureRect</key>
                <string>{{528,93},{71,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{746,1},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{815,135},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,212}</string>
                <key>spriteSourceSize</key>
                <string>{57,212}</string>
                <key>textureRect</key>
                <string>{{69,130},{57,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,273}</string>
                <key>spriteSourceSize</key>
                <string>{88,273}</string>
                <key>textureRect</key>
                <string>{{1,189},{88,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_b_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,560}</string>
                <key>spriteSourceSize</key>
                <string>{36,560}</string>
                <key>textureRect</key>
                <string>{{1,46},{36,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c9_l_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,1}</string>
                <key>spriteSourceSize</key>
                <string>{61,1}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_l_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,3}</string>
                <key>spriteSourceSize</key>
                <string>{322,3}</string>
                <key>textureRect</key>
                <string>{{188,1},{322,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c9_l_v_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,200}</string>
                <key>spriteSourceSize</key>
                <string>{3,200}</string>
                <key>textureRect</key>
                <string>{{512,1},{3,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>comImg9Atlas0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b9d6b96fc9853936fc7e0a3eb7c22d0:28d8cdf0cc26ab78505faee99c9ed6e0:e5ab896df9a4e4da5b31c29a285b985d$</string>
            <key>textureFileName</key>
            <string>comImg9Atlas0.png</string>
        </dict>
    </dict>
</plist>
