<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>comtxt_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,447},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>comtxt_agree_No.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>comtxt_ckbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,343},{114,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{114,32}</string>
            </dict>
            <key>comtxt_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,422},{79,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,33}}</string>
                <key>sourceSize</key>
                <string>{79,33}</string>
            </dict>
            <key>comtxt_ffyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,169},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,34}}</string>
                <key>sourceSize</key>
                <string>{123,34}</string>
            </dict>
            <key>comtxt_ffyx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,237},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>comtxt_fhdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,294},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>comtxt_fou.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,265},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>comtxt_fxzj.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,294},{117,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,32}}</string>
                <key>sourceSize</key>
                <string>{117,32}</string>
            </dict>
            <key>comtxt_fxzj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,169},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,34}}</string>
                <key>sourceSize</key>
                <string>{123,34}</string>
            </dict>
            <key>comtxt_fzfjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{105,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,77}}</string>
                <key>sourceSize</key>
                <string>{105,77}</string>
            </dict>
            <key>comtxt_fzgzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{268,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,58}}</string>
                <key>sourceSize</key>
                <string>{268,58}</string>
            </dict>
            <key>comtxt_fzwxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,58}}</string>
                <key>sourceSize</key>
                <string>{268,58}</string>
            </dict>
            <key>comtxt_huanzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,427},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>comtxt_huanzhuo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{139,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,55}}</string>
                <key>sourceSize</key>
                <string>{139,55}</string>
            </dict>
            <key>comtxt_jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,362},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>comtxt_jsfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,294},{117,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,32}}</string>
                <key>sourceSize</key>
                <string>{117,32}</string>
            </dict>
            <key>comtxt_jsfj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,305},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>comtxt_jsyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,180},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,34}}</string>
                <key>sourceSize</key>
                <string>{123,34}</string>
            </dict>
            <key>comtxt_jxyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,237},{123,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,34}}</string>
                <key>sourceSize</key>
                <string>{123,34}</string>
            </dict>
            <key>comtxt_jxyx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,283},{128,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>comtxt_ksks.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,131},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>comtxt_lkfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,413},{115,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,32}}</string>
                <key>sourceSize</key>
                <string>{115,32}</string>
            </dict>
            <key>comtxt_qhzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,367},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>comtxt_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,447},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>comtxt_queding1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,481},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>comtxt_quereng.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{165,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,59}}</string>
                <key>sourceSize</key>
                <string>{165,59}</string>
            </dict>
            <key>comtxt_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,413},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>comtxt_quxiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,481},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>comtxt_qyqyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{268,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,56}}</string>
                <key>sourceSize</key>
                <string>{268,56}</string>
            </dict>
            <key>comtxt_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,180},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>comtxt_tcfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,143},{120,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,36}}</string>
                <key>sourceSize</key>
                <string>{120,36}</string>
            </dict>
            <key>comtxt_tcyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,383},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>comtxt_tijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{135,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,58}}</string>
                <key>sourceSize</key>
                <string>{135,58}</string>
            </dict>
            <key>comtxt_ty.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,422},{66,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,32}}</string>
                <key>sourceSize</key>
                <string>{66,32}</string>
            </dict>
            <key>comtxt_yanzm.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{127,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,42}}</string>
                <key>sourceSize</key>
                <string>{127,42}</string>
            </dict>
            <key>comtxt_yqhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{172,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,44}}</string>
                <key>sourceSize</key>
                <string>{172,44}</string>
            </dict>
            <key>comtxt_zbks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{216,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,55}}</string>
                <key>sourceSize</key>
                <string>{216,55}</string>
            </dict>
            <key>comtxt_zfjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,265},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>comtxt_zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,430},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comtxtAtlas0.png</string>
            <key>size</key>
            <string>{436,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:804ce3f0f9127baa810e8e8a4ea7fcf5$</string>
            <key>textureFileName</key>
            <string>comtxtAtlas0.png</string>
        </dict>
    </dict>
</plist>
