<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d2_board0.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,580},{69,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,20}}</string>
                <key>sourceSize</key>
                <string>{69,20}</string>
            </dict>
            <key>d2_btn_tipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{152,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,62}}</string>
                <key>sourceSize</key>
                <string>{152,62}</string>
            </dict>
            <key>d2_img_3zhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,409},{116,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,106}}</string>
                <key>sourceSize</key>
                <string>{116,106}</string>
            </dict>
            <key>d2_img_chibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,510},{63,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,123}}</string>
                <key>sourceSize</key>
                <string>{63,123}</string>
            </dict>
            <key>d2_img_chiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,409},{138,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{138,66}</string>
            </dict>
            <key>d2_img_cpline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{535,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,1}}</string>
                <key>sourceSize</key>
                <string>{535,1}</string>
            </dict>
            <key>d2_img_hdgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{289,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,140}}</string>
                <key>sourceSize</key>
                <string>{289,140}</string>
            </dict>
            <key>d2_img_headpart.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,498},{212,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,76}}</string>
                <key>sourceSize</key>
                <string>{212,76}</string>
            </dict>
            <key>d2_img_hpts.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,207},{233,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,61}}</string>
                <key>sourceSize</key>
                <string>{233,61}</string>
            </dict>
            <key>d2_img_htcbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{169,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,184}}</string>
                <key>sourceSize</key>
                <string>{169,184}</string>
            </dict>
            <key>d2_img_hutip.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,406},{118,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,31}}</string>
                <key>sourceSize</key>
                <string>{118,31}</string>
            </dict>
            <key>d2_img_hutipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{312,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,147}}</string>
                <key>sourceSize</key>
                <string>{312,147}</string>
            </dict>
            <key>d2_img_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,472},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>d2_img_paidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,156},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>d2_img_paiku.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,580},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>d2_img_readed.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,576},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,87}}</string>
                <key>sourceSize</key>
                <string>{73,87}</string>
            </dict>
            <key>d2_img_sbg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,270},{75,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,24}}</string>
                <key>sourceSize</key>
                <string>{75,24}</string>
            </dict>
            <key>d2_img_sbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,476},{65,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>d2_img_tangchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,510},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>d2_img_xjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,651},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>d2_img_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,406},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>d2_img_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,207},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>d2_imgfi_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,156},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>d2_imgtxt_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,648},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>d2_imgtxt_chipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,648},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>d2_imgtxt_cpts.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{152,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,23}}</string>
                <key>sourceSize</key>
                <string>{152,23}</string>
            </dict>
            <key>d2_imgtxt_fhdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,493},{116,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,31}}</string>
                <key>sourceSize</key>
                <string>{116,31}</string>
            </dict>
            <key>d2_imgtxt_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,652},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>d2_imgtxt_gui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,652},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,602},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,602},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui4.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,606},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui5.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,631},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui6.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,631},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_gui7.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,543},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_hn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,636},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_1x.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,559},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,559},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,559},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,559},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,538},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,517},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,659},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,645},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,638},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,561},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_6x.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,561},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,561},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_7x.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,561},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,624},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_8x.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,603},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,582},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_hn_9x.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,561},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht1.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,543},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht10.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,547},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht11.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,540},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht13.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,519},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht14.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,610},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht15.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,540},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht16.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,589},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht17.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,519},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht18.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,498},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,610},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht20.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,498},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht21.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,568},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht22.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,477},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht23.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,477},{75,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,19}}</string>
                <key>sourceSize</key>
                <string>{75,19}</string>
            </dict>
            <key>d2_imgtxt_ht24.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,589},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht3.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,547},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht4.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,568},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht5.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,547},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht6.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,526},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht7.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,526},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht8.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,657},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_ht9.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,455},{57,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,19}}</string>
                <key>sourceSize</key>
                <string>{57,19}</string>
            </dict>
            <key>d2_imgtxt_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,270},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>d2_imgtxt_hx.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,154},{51,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,21}}</string>
                <key>sourceSize</key>
                <string>{51,21}</string>
            </dict>
            <key>d2_imgtxt_sypd.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,624},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>d2_line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{2,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,99}}</string>
                <key>sourceSize</key>
                <string>{2,99}</string>
            </dict>
            <key>d2_op_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>d2_op_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,207},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>d2_op_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>d2_op_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,5},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>d2_op_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,270},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>d2_op_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,296},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>d2_op_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,576},{106,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,103}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>d2_op_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,5},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>d2_op_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>d2_sanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,517},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>d2_txt_dipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,439},{96,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,52}}</string>
                <key>sourceSize</key>
                <string>{96,52}</string>
            </dict>
            <key>d2_txt_fanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,575},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>d2_txt_hushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,576},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>d2_txt_jsxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,472},{150,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,36}}</string>
                <key>sourceSize</key>
                <string>{150,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d2Atlas0.png</string>
            <key>size</key>
            <string>{1023,681}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9a785e22bb8f8896c22d7748df45096$</string>
            <key>textureFileName</key>
            <string>d2Atlas0.png</string>
        </dict>
    </dict>
</plist>
