<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{825,267},{278,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daer22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,264}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{328,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{1501,1373},{328,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daer33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,292}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1637,549},{322,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daer4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{1,1409},{378,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daer44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,264}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{307,1},{322,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{1564,269},{278,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,266}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1261,1},{308,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{328,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{381,1421},{328,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,266}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1571,1},{308,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{711,1423},{378,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,266}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1,267},{322,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{429,278}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{1,535},{429,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk1010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1636,873},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{365,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{432,535},{365,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,264}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{631,1},{304,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{399,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{799,547},{399,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,292}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1,815},{322,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{1200,549},{435,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,264}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{937,1},{322,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{325,823},{435,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,266}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{325,267},{498,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{762,835},{435,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1,1111},{498,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{1199,837},{435,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{501,1123},{498,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{435,276}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{1127,269},{435,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1001,1125},{498,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teaDesk0.png</string>
            <key>size</key>
            <string>{1933,1724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:223c5d6ff5c695f18071dffda5c5a163:0dfc60654cb8a12c35b4c8226b62ad70:17c99f033421695189dd32f3f221d22c$</string>
            <key>textureFileName</key>
            <string>teaDesk0.png</string>
        </dict>
    </dict>
</plist>
