<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{1481,1},{378,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daer22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{1481,381},{378,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daer33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1,501},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daer4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{1759,761},{378,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daer44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1,1001},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{1783,1},{378,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{1,1501},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{1783,381},{378,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{299,1},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,300}</string>
                <key>spriteSourceSize</key>
                <string>{378,300}</string>
                <key>textureRect</key>
                <string>{{1759,1141},{378,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mj44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{299,501},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{895,1001},{435,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk1010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{299,1001},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{895,1438},{435,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{299,1501},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{1183,1001},{435,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{597,1},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{1183,1438},{435,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{597,501},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{1193,1},{435,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{597,1001},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{1193,438},{435,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{597,1501},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{1471,875},{435,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{895,1},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,286}</string>
                <key>spriteSourceSize</key>
                <string>{435,286}</string>
                <key>textureRect</key>
                <string>{{1471,1312},{435,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,296}</string>
                <key>spriteSourceSize</key>
                <string>{498,296}</string>
                <key>textureRect</key>
                <string>{{895,501},{498,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teaDesk0.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edb9d5373a58dc54d2d21c31c6968641:0dfc60654cb8a12c35b4c8226b62ad70:17c99f033421695189dd32f3f221d22c$</string>
            <key>textureFileName</key>
            <string>teaDesk0.png</string>
        </dict>
    </dict>
</plist>
