<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_dgn_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,371},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,371},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,330},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,330},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,289},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,289},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,248},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,248},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,207},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,207},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,166},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,166},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,125},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,125},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,84},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_21_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,84},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_21_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,43},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_21_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,43},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_23_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_24_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_25_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_26_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_27_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_28_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comAtlas1.png</string>
            <key>size</key>
            <string>{1637,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61094aa4f50d4e783e7e440d0bca42bd$</string>
            <key>textureFileName</key>
            <string>comAtlas1.png</string>
        </dict>
    </dict>
</plist>
