<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_dgn_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_21_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_21_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_21_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_23_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_24_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_25_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_26_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
            <key>com_dgn_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{543,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,39}}</string>
                <key>sourceSize</key>
                <string>{543,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comAtlas1.png</string>
            <key>size</key>
            <string>{998,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93465ceb909cb69a1fde3743ae7bd17c$</string>
            <key>textureFileName</key>
            <string>comAtlas1.png</string>
        </dict>
    </dict>
</plist>
