<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tea1_9_0.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,307}</string>
                <key>spriteSourceSize</key>
                <string>{249,307}</string>
                <key>textureRect</key>
                <string>{{1,123},{249,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,187}</string>
                <key>spriteSourceSize</key>
                <string>{149,187}</string>
                <key>textureRect</key>
                <string>{{252,458},{149,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,307}</string>
                <key>spriteSourceSize</key>
                <string>{249,307}</string>
                <key>textureRect</key>
                <string>{{1,432},{249,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{450,760},{33,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_9_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,130}</string>
                <key>spriteSourceSize</key>
                <string>{333,130}</string>
                <key>textureRect</key>
                <string>{{252,123},{333,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_9_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,75}</string>
                <key>spriteSourceSize</key>
                <string>{66,75}</string>
                <key>textureRect</key>
                <string>{{526,351},{66,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_anz0_bxx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{88,58}</string>
                <key>textureRect</key>
                <string>{{901,419},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_back0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{896,791},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_btn_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{426,351},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_btn_jsan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,56}</string>
                <key>spriteSourceSize</key>
                <string>{383,56}</string>
                <key>textureRect</key>
                <string>{{443,1},{383,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_btn_qx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{990,293},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_btn_rili.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{205,741},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_close_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{358,779},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{671,59},{154,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{252,647},{154,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{621,147},{190,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{621,191},{190,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{607,235},{190,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_11_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{607,279},{190,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_12_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{252,735},{152,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_13_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{813,161},{190,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_14_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{841,588},{116,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_gn_15_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{594,366},{152,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_16_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{637,103},{188,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_18_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{579,498},{150,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_19_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{535,428},{152,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_gn_20_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{579,542},{150,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_21_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{443,103},{192,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_21_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{427,147},{192,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_21_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{443,59},{226,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_21_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{427,191},{192,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_22_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{813,205},{190,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_23_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{799,249},{190,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{252,691},{154,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{403,458},{154,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_gn_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{447,451},{154,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_gn_9_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{491,451},{154,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_gn_9_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{594,410},{152,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_gn_9_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,42}</string>
                <key>spriteSourceSize</key>
                <string>{226,42}</string>
                <key>textureRect</key>
                <string>{{579,454},{152,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_idyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{384,348},{108,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_ksks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,120}</string>
                <key>spriteSourceSize</key>
                <string>{440,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{440,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_paixu0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,23}</string>
                <key>spriteSourceSize</key>
                <string>{13,23}</string>
                <key>textureRect</key>
                <string>{{579,428},{13,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_paixu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,17}</string>
                <key>spriteSourceSize</key>
                <string>{10,17}</string>
                <key>textureRect</key>
                <string>{{427,123},{10,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_play1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,37}</string>
                <key>spriteSourceSize</key>
                <string>{55,37}</string>
                <key>textureRect</key>
                <string>{{412,795},{55,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_play2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{969,526},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_pm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{969,572},{50,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_pm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{886,471},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_pm3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{938,471},{50,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_renshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{927,640},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_tag0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,74}</string>
                <key>spriteSourceSize</key>
                <string>{183,74}</string>
                <key>textureRect</key>
                <string>{{828,1},{183,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_tag0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,74}</string>
                <key>spriteSourceSize</key>
                <string>{202,74}</string>
                <key>textureRect</key>
                <string>{{1,741},{202,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_tag1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,56}</string>
                <key>spriteSourceSize</key>
                <string>{178,56}</string>
                <key>textureRect</key>
                <string>{{427,235},{178,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_tag2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,56}</string>
                <key>spriteSourceSize</key>
                <string>{178,56}</string>
                <key>textureRect</key>
                <string>{{427,293},{178,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_tuijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,67}</string>
                <key>spriteSourceSize</key>
                <string>{34,67}</string>
                <key>textureRect</key>
                <string>{{727,795},{34,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_txt_bmjbc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,41}</string>
                <key>spriteSourceSize</key>
                <string>{187,41}</string>
                <key>textureRect</key>
                <string>{{607,323},{187,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_bxx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,40}</string>
                <key>spriteSourceSize</key>
                <string>{113,40}</string>
                <key>textureRect</key>
                <string>{{896,676},{113,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_txt_bxxz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,40}</string>
                <key>spriteSourceSize</key>
                <string>{150,40}</string>
                <key>textureRect</key>
                <string>{{408,614},{150,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_txt_caozuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{902,377},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_cpgn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,40}</string>
                <key>spriteSourceSize</key>
                <string>{150,40}</string>
                <key>textureRect</key>
                <string>{{535,670},{150,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_cpxq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{748,419},{151,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_csql.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{733,461},{151,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_dfzcy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,33}</string>
                <key>spriteSourceSize</key>
                <string>{147,33}</string>
                <key>textureRect</key>
                <string>{{980,377},{147,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_txt_dyqyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,40}</string>
                <key>spriteSourceSize</key>
                <string>{186,40}</string>
                <key>textureRect</key>
                <string>{{827,77},{186,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_fjzt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{731,546},{151,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_glid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,40}</string>
                <key>spriteSourceSize</key>
                <string>{112,40}</string>
                <key>textureRect</key>
                <string>{{927,526},{112,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_txt_grxx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{205,779},{151,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_gxdtz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,40}</string>
                <key>spriteSourceSize</key>
                <string>{187,40}</string>
                <key>textureRect</key>
                <string>{{796,335},{187,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_jifen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,55}</string>
                <key>spriteSourceSize</key>
                <string>{104,55}</string>
                <key>textureRect</key>
                <string>{{839,706},{104,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_txt_jrpz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,40}</string>
                <key>spriteSourceSize</key>
                <string>{150,40}</string>
                <key>textureRect</key>
                <string>{{535,712},{150,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_jsqyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,40}</string>
                <key>spriteSourceSize</key>
                <string>{186,40}</string>
                <key>textureRect</key>
                <string>{{827,119},{186,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_jsxq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{535,586},{151,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_ksks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,40}</string>
                <key>spriteSourceSize</key>
                <string>{152,40}</string>
                <key>textureRect</key>
                <string>{{748,377},{152,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_mmdl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{688,588},{151,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_mmsz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,40}</string>
                <key>spriteSourceSize</key>
                <string>{150,40}</string>
                <key>textureRect</key>
                <string>{{687,671},{150,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_qyqsz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,29}</string>
                <key>spriteSourceSize</key>
                <string>{135,29}</string>
                <key>textureRect</key>
                <string>{{469,795},{135,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_sousuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{969,624},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_szjjx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,40}</string>
                <key>spriteSourceSize</key>
                <string>{189,40}</string>
                <key>textureRect</key>
                <string>{{799,293},{189,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_szsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{687,713},{150,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_tjmx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,41}</string>
                <key>spriteSourceSize</key>
                <string>{149,41}</string>
                <key>textureRect</key>
                <string>{{492,607},{149,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_txt_tzxy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,39}</string>
                <key>spriteSourceSize</key>
                <string>{151,39}</string>
                <key>textureRect</key>
                <string>{{688,630},{151,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_tzxzmd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,41}</string>
                <key>spriteSourceSize</key>
                <string>{223,41}</string>
                <key>textureRect</key>
                <string>{{384,123},{223,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_txt_wxts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{535,754},{150,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_xgbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{450,607},{151,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_txt_xyjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{687,754},{150,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_xzdz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{535,628},{151,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_xzsj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,40}</string>
                <key>spriteSourceSize</key>
                <string>{148,40}</string>
                <key>textureRect</key>
                <string>{{885,526},{148,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tea1_txt_xzxd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,33}</string>
                <key>spriteSourceSize</key>
                <string>{119,33}</string>
                <key>textureRect</key>
                <string>{{606,795},{119,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_txt_yacs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,41}</string>
                <key>spriteSourceSize</key>
                <string>{151,41}</string>
                <key>textureRect</key>
                <string>{{731,503},{151,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{938,669},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tea1_xiala.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{796,795},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tea1.png</string>
            <key>size</key>
            <string>{1014,833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b87875ef1f99300f79f67551c03ceac8:22cbeb2e2757c11b2d89f084773c1730:80c8b8811788882db10963679ce30d19$</string>
            <key>textureFileName</key>
            <string>tea1.png</string>
        </dict>
    </dict>
</plist>
