<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_anmemo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,888},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,911},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,810},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,888},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,787},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,709},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,709},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,892},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,787},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,686},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,608},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,608},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,608},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,896},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,791},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,686},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,585},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,507},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,507},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,507},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,507},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,484},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,406},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,406},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,406},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,406},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,204},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,103},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_anmemo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>chat_btn_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,305},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>chat_btn_dhbq0.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,305},{99,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,457}}</string>
                <key>sourceSize</key>
                <string>{99,457}</string>
            </dict>
            <key>chat_btn_dhbq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{99,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,457}}</string>
                <key>sourceSize</key>
                <string>{99,457}</string>
            </dict>
            <key>chat_btn_wzbq0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{99,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,457}}</string>
                <key>sourceSize</key>
                <string>{99,457}</string>
            </dict>
            <key>chat_btn_wzbq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,457}}</string>
                <key>sourceSize</key>
                <string>{99,457}</string>
            </dict>
            <key>chat_img9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,608},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>chat_img_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{665,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,7}}</string>
                <key>sourceSize</key>
                <string>{665,7}</string>
            </dict>
            <key>chat_img_paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,369},{113,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,56}}</string>
                <key>sourceSize</key>
                <string>{113,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat_atlas.png</string>
            <key>size</key>
            <string>{566,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80812bc2f0e9269a5c2d7325cf5d3189$</string>
            <key>textureFileName</key>
            <string>chat_atlas.png</string>
        </dict>
    </dict>
</plist>
