<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pdk_img9_jpq.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,135},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>pdk_img_ddxyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,91},{618,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,42}}</string>
                <key>sourceSize</key>
                <string>{618,42}</string>
            </dict>
            <key>pdk_img_hcnumbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,135},{57,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,79}}</string>
                <key>sourceSize</key>
                <string>{57,79}</string>
            </dict>
            <key>pdk_img_jpqbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{600,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,87}}</string>
                <key>sourceSize</key>
                <string>{600,87}</string>
            </dict>
            <key>pdk_img_jpqkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,135},{81,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,87}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
            <key>pdk_img_wjdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,344}}</string>
                <key>sourceSize</key>
                <string>{234,344}</string>
            </dict>
            <key>pdk_imgfi_pdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,216},{66,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,21}}</string>
                <key>sourceSize</key>
                <string>{66,21}</string>
            </dict>
            <key>pdk_imgtxt_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,187},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>pdk_imgtxt_guopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,188},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>pdk_imgtxt_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,188},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>pdk_jsimg_jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,188},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>pdk_jsimg_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,135},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>pdk_jsimgtxt_yupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,174},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>pdk_jsimgtxt_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,216},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>pdk_txt_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,135},{133,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,50}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
            <key>pdk_txt_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,135},{132,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,51}}</string>
                <key>sourceSize</key>
                <string>{132,51}</string>
            </dict>
            <key>pdk_txt_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,135},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>pdknj_txt_tianguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,187},{133,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,50}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pdkAtlas0.png</string>
            <key>size</key>
            <string>{968,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a85bb07c0621f2c4d716b02b9acacca0$</string>
            <key>textureFileName</key>
            <string>pdkAtlas0.png</string>
        </dict>
    </dict>
</plist>
