<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz5_dskopt_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,380},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>ddz5_dskopt_daogen.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>ddz5_dskopt_daono.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>ddz5_dskopt_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,201},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>ddz5_dskopt_jiaono.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{146,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,77}}</string>
                <key>sourceSize</key>
                <string>{146,77}</string>
            </dict>
            <key>ddz5_img9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{61,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,146}}</string>
                <key>sourceSize</key>
                <string>{61,146}</string>
            </dict>
            <key>ddz5_img_adz.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,117},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>ddz5_img_adzsfp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,102}}</string>
                <key>sourceSize</key>
                <string>{138,102}</string>
            </dict>
            <key>ddz5_img_adztag.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,380},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>ddz5_img_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,341},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz5_img_df.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,280},{78,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>ddz5_img_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,117},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>ddz5_img_fjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,314},{79,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,25}}</string>
                <key>sourceSize</key>
                <string>{79,25}</string>
            </dict>
            <key>ddz5_img_fxcj.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,321},{128,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,44}}</string>
                <key>sourceSize</key>
                <string>{128,44}</string>
            </dict>
            <key>ddz5_img_geng.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,65},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz5_img_jcf.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,341},{117,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,37}}</string>
                <key>sourceSize</key>
                <string>{117,37}</string>
            </dict>
            <key>ddz5_img_jushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,393},{57,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,24}}</string>
                <key>sourceSize</key>
                <string>{57,24}</string>
            </dict>
            <key>ddz5_img_la.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,413},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ddz5_img_zbks.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,367},{127,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,44}}</string>
                <key>sourceSize</key>
                <string>{127,44}</string>
            </dict>
            <key>ddz5_imgfi_5rddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,54},{109,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,21}}</string>
                <key>sourceSize</key>
                <string>{109,21}</string>
            </dict>
            <key>ddz5_tag_adz.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,132},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>ddz5_tag_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,117},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>ddz5_tag_nm.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,230},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>ddz5_txt_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,65},{133,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,50}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
            <key>ddz5_txt_bula.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,243},{135,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,50}}</string>
                <key>sourceSize</key>
                <string>{135,50}</string>
            </dict>
            <key>ddz5_txt_chongxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,132},{133,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,50}}</string>
                <key>sourceSize</key>
                <string>{133,50}</string>
            </dict>
            <key>ddz5_txt_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,327},{132,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,51}}</string>
                <key>sourceSize</key>
                <string>{132,51}</string>
            </dict>
            <key>ddz5_txt_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,413},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>ddz5_txt_daobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,214},{133,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,51}}</string>
                <key>sourceSize</key>
                <string>{133,51}</string>
            </dict>
            <key>ddz5_txt_geng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>ddz5_txt_han.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,413},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>ddz5_txt_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,267},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>ddz5_txt_jiaobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,267},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>ddz5_txt_la.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>ddz5_txt_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,80},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>ddz5_txt_xuanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,106},{135,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,51}}</string>
                <key>sourceSize</key>
                <string>{135,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz5Atlas0.png</string>
            <key>size</key>
            <string>{502,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b5327bafa9c2afb85c8d255894dffa2$</string>
            <key>textureFileName</key>
            <string>ddz5Atlas0.png</string>
        </dict>
    </dict>
</plist>
